# Server Configuration
PORT=4000
JWT_SECRET=your_super_secret_jwt_key_change_this

# Database Configuration (PostgreSQL)
# Example: postgresql://user:password@host:port/database?schema=public
DATABASE_URL="postgresql://postgres:manishj2809@db.ywnvggvgrgthrmhnkyap.supabase.co:5432/postgres"

# Cloudinary Configuration (Images)
CLOUDINARY_CLOUD_NAME=dnzmk8wwh
CLOUDINARY_API_KEY=718246899244376
CLOUDINARY_API_SECRET=qCfGXIrxnYsYqNQE2Kuc5m0UV7w

# Frontend URL (For CORS)
FRONTEND_URL=http://localhost:3000
